/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/rAvailablePackageCache.xml
/.idea/rGraphicsSettings.xml
/.idea/rMarkdownGraphicsSettings.xml
/.idea/rSettings.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/vcs.xml
/.idea/wikipediaCompniesScrapping.iml
